<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="LocalHost" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ZAPATILLAS;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="ServidorCentral" connectionString="Data Source=servidor\AXSQLEXPRESS;Initial Catalog=ZAPATILLAS;Persist Security Info=True;User ID=Axoft;Password=Axoft;Connect Timeout=360000" providerName="System.Data.SqlClient" />
    <add name="MAIPU" connectionString="Data Source=25.61.202.132\AXSQLEXPRESS;Initial Catalog=MAIPU;Persist Security Info=True;User ID=Axoft;Password=Axoft;Connect Timeout=360000" providerName="System.Data.SqlClient" />
    <add name="TERRA RIVADAVIA" connectionString="Data Source=25.108.178.170\AXSQLEXPRESS;Initial Catalog=TERRARIV;Persist Security Info=True;User ID=Axoft;Password=Axoft;Connect Timeout=360000" providerName="System.Data.SqlClient" />
    <add name="RIVADAVIA" connectionString="Data Source=25.3.215.38\AXSQLEXPRESS;Initial Catalog=RIVADAVIA;Persist Security Info=True;User ID=Axoft;Password=Axoft;Connect Timeout=360000" providerName="System.Data.SqlClient" />

  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
